@import './variables/extend';
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
}
.anchocarrusel{
    width: 100vw;
    height: 80vw;
    margin: 10px;
    padding: 15px;
}
.sustentable{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding: 40px;
    margin: 10px;
    align-items: center;
    border: 10px;
    font-family:'Times New Roman', Times, serif;

}

.row {
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    flex-direction: row;
    align-items: center;

    .card {
        margin-top: 20px;
        align-items: center;
    }

    .card-body {
        height: 250px;
    }

    .card-img-top {
        width: 200px;
        height: 250px;
        padding-top: 15px;
    }

    .card-img-top:hover {
        transform: scale(1.1);
    }
}

.nosotras {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    .textoNosotras {
        display: flex;
        margin: 70px;
        padding: 20px;
        text-align: justify;
        align-content: center;
        flex-direction: column;
        @include textoNosotras (15px);
    }


}

.nosotrasDos {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;

    .textoNosotrasDos {
        display: flex;
        margin: 70px;
        padding: 20px;
        text-align: justify;
        align-content: center;
        flex-direction: column;
        @include textoNosotras (18px)
     }
}

.animate__fadeOut {
    color: gray;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation-iteration-count: infinite;
}

.marketingOlfativo {
    margin: 15px;
    padding: 10px;
    @extend %marketingOlfativo;
}

.formulario {
    margin: 10px;
    padding: 10px;

    .botonEnviar {
        background-color: black;
        color: white;
    }

    .mapas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }
}
.footer {
    background-color: bisque;
    margin: 0;
    padding: 1px;
    width: auto;

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .fa-instagram {
        font-size: 2rem;
        color: gray;

    }

    .fa-facebook {
        font-size: 2rem;
        color: gray;
    }

    .fa-instagram:hover {
        color: red;
        transition: .3s;
        transform: scale(1.5);
    }

    .fa-facebook:hover {
        color: blue;
        transition: .3s;
        transform: scale(1.5);
    }
}





@media (min-width: 418px){
    .joseYsilvia1{
        height: auto;
        width: auto;
    }
    .joseYsilvia2{
        height: auto;
        width: auto;
    }
    .nosotras{
        padding: 0;
        margin: 0;
    }
    .sustentable{
        flex-direction: column;
        font-size: 15px;
    }
    .mapas{
        display: flex;
        flex-direction: column;        
    }

}
@media (max-width: 768px){
    .mapas{
        display: flex;
        flex-direction: column;        
    }
    .nosotras{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        
    }
    .nosotrasDos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .textoNosotras{
        text-align: center;
    }
   
}
@media (min-width: 540px){
    .nosotras{
        padding: 15px;
        margin: 20px;
    }
    .mapas{
        display: flex;
        flex-direction: column;        
    }

}

@media (min-width: 1024px){
    .sustentable{
        flex-direction: row;
    }

}