@import './variables/typo';
@import './variables/extend';


.navbar {
    display: flex;
    justify-content: space-between;
}

.anchocarrusel {
    width: 100vw;
    height: 80vw;
    margin: 10px;
    padding: 15px;
}

.sustentable {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    margin: 10px;
    align-items: center;
    border: 10px;
    font-family: $Manjari;

}

.row {
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    flex-direction: row;
    align-items: center;

    .card {
        margin-top: 20px;
        align-items: center;
        font-family: $Manjari;
    }

    .card-body {
        height: 250px;
    }

    .card-img-top {
        width: 200px;
        height: 250px;
        padding-top: 15px;
    }

    .card-img-top:hover {
        transform: scale(1.1);
    }
}

.nosotras {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    .textoNosotras {
        display: flex;
        margin: 70px;
        padding: 20px;
        text-align: justify;
        align-content: center;
        flex-direction: column;
        @include estiloTexto (15px, lighter);
    }


}

.nosotrasDos {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;

    .textoNosotrasDos {
        display: flex;
        margin: 70px;
        padding: 20px;
        text-align: justify;
        align-content: center;
        flex-direction: column;
        @include estiloTexto (18px, normal);
    }
}

.animate__fadeOut {
    color: gray;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation-iteration-count: infinite;
    font-family: $Manjari;
}

.marketingOlfativo {
    @extend %marketingOlfativo;
    margin: 30px 200px 50px 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.tituloEtapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: $Manjari;
}

.etapas {
    font-family: $Manjari;
    margin: 35px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px
}

.asesoria {
    padding-right: 20px;
    text-align: justify;
}

.investigacion {
    padding-right: 20px;
    text-align: justify;
}

.creacion {
    padding-right: 20px;
    text-align: justify;
}




.formulario {
    margin: 10px;
    padding: 10px;

    .botonEnviar {
        background-color: black;
        color: white;
    }

    .mapas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}


.footer {
    background-color: #ddc7ab;
    margin: 0;
    padding: 1px;
    width: auto;

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .fa-instagram {
        font-size: 2rem;
        color: gray;

    }

    .fa-facebook {
        font-size: 2rem;
        color: gray;
    }

    .fa-instagram:hover {
        color: red;
        transition: .3s;
        transform: scale(1.5);
    }

    .fa-facebook:hover {
        color: blue;
        transition: .3s;
        transform: scale(1.5);
    }
}





@media (max-width: 450px) {
    .joseYsilvia1 {
        height: auto;
        width: 30%;
    }

    .joseYsilvia2 {
        height: auto;
        width: 30%;
    }

    .nosotras {
        padding: 0;
        margin: 0;
    }

    .textoNosotras {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .textoNosotrasDos {
        margin: 10px;
        padding: 5px;
        text-align: center;
        align-items: center;
    }

    .sustentable {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
    }

    .mapas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .mapaUrquiza {
        height: 50%;
        width: 50%;

        &mapaBelgrano {
            height: auto;
            width: auto;
        }
    }

    .marketingOlfativo {
        margin: 30px;
    }

    .tituloEtapa {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: $Manjari;
        font-size: 12px;
        
    }

    .etapas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}


@media (max-width: 768px) {
    .mapas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .mapaUrquiza {
            height: auto;
            width: auto;

            &mapaBelgrano {
                height: auto;
                width: auto;
            }
        }
    }

    .nosotras {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    .nosotrasDos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .textoNosotras {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .textoNosotrasDos {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }



    .etapas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .marketingOlfativo {
        margin: 70px;
    }
}




@media (max-width: 540px) {
    .nosotras {
        padding: 15px;
        margin: 20px;
    }

    .mapas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .mapaUrquiza {
            height: auto;
            width: auto;

            &mapaBelgrano {
                height: auto;
                width: auto;
            }
        }
    }

    .textoNosotras {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .textoNosotrasDos {
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .joseYsilvia1 {
        height: auto;
        width: auto;
    }

    .joseYsilvia2 {
        height: auto;
        width: auto;
    }

    .sustentable {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
    }

}

.etapas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 375px) {
    .sustentable {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px;
        margin: 10px;
        align-items: center;
        border: 10px;
        font-family: "Manjari", sans-serif;
        flex-wrap: wrap;
    }
}


@media (min-width: 1024px) {
    .sustentable {
        display: flex;
        flex-flow: column wrap;
        font-size: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .mapas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }


    .etapas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}